*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    color: white;
}
html {
    scroll-behavior: smooth;
}
.main-container{
    position: block;
    width: 100%;
    height: 100%;
    display: flex;
    
}
.main-con-menu button{
    background-color: transparent;
    border: none;
    padding-right: 10px;
}
.main-con-content {
    width: 100% ;
}
.main-container{
    background-image: url(img/Fam_4.jpg);
}
.main-con-sidebar {
    text-align: center;
    display: none;
    height: auto; 
    width: 500px; 
    background-color: rgba(0,0,0,0.9);
    z-index: 1;
    
}
.main-con-sidebar button {
    width: 80%;
    color: black;
}
.main-con-sidebar button {
    height: 50px;
    border: none;
    font-size: 15px;
    background-color: transparent;
    color: white;
}
.main-con-sidebar button:hover {
    background-color: #51280a;
}








.webname{
    background-image: url(img/rain.png);
}
.service-div{
    background-image: url(img/rainbow.png);
}
.message-div{
    background-image: url(img/tree.png);
}
.main-con-menu{
    height: 20px;
    background-color: transparent;
    text-align: right;
    position: sticky;
    top: 0px;
}
.menu{
    height: 20px;
    background-color: transparent;
    text-align: right;
    padding-right: 20px;
    position: sticky;
    top: 0px;
    margin-top: -80px;
}
.main-div, .webname, .service-div, .message-div, .main-container {
    background-size: cover;  
    background-repeat: no-repeat;  
    height: 100vh;
    width: 100%;
}
.main-div h1, .main-con-div h1{
    padding-top: 60vh;
    margin-left: 50px;
    font-size: 70px;
    color: white;
}
.main-div p, .main-con-div p{
    margin-left: 50px;
    color: white;
}
.nav-bar {
    width: 100%;
    height: 50px;
    background-color: black;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    margin-top: 1px;
    margin-bottom: 1px;
    
    
}
.nav-bar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:  Helvetica,Arial, sans-serif;
    font-size: 20px;
}
.nav-bar a:hover{
    color: brown;
}
.webname h1, .webname p {
    color:black;
}
.webname h1{
    padding-top: 40vh;
    padding-left: 60vw;
    
}
.webname p {
    padding-left: 60vw;
}

.message-div h1 {
    color: black;
    text-align: center;
    padding-top: 50px;
}
.user-input{
    display: flex;
    padding-top: 75px;
}
.user-input ,.subject, .msg{
    margin: auto;
    padding-right: 30vw;
    padding-left: 30vw;
    padding-bottom: 5px;
}
.service-div h1, .service-div p {
    color: white;
    padding-left: 20px;
}
.service-div img {
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.message-div ::-webkit-input-placeholder {
    color: black;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.message-div input, .message-div textarea{
    width: 100%;
    height: 40px;
    background-color: rgba(166, 161, 161, .7);
    color: black;   
    border: none;
    margin: 2px;
}
.message-div textarea{
    height: 70px;
}


/*slider*/
.slider {
    position: relative;
     width: 200px;
     height: 200px;
     transform-style: preserve-3d;
     animation: rotate 15s linear infinite;
}

@keyframes rotate {

    0% {
        transform: perspective(1000px) rotateY(0deg);
    }

    100%{
        transform: perspective(1000px) rotateY(360deg);
    }

}

.slider span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*100deg)) translateZ(350px);
}
	   
.slider span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
    transition: 1s;
}

.slider span:hover img{
     transform: translateY(-50px) scale(1.2);
}	 























@media
(prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }
